<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style>
			.mui-bar{
				background: #0033cc;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">个人信息</h1>
		</header>
		<ul class="mui-table-view" style="margin-top:60px ;">
		        <li class="mui-table-view-cell" style="border:5px #0e68ca solid">
		            <a>
		                学校<p style="text-align: center;background-color: #61E7F0;">贵州师范学院</p>
		            </a>
		        </li>
		        <li class="mui-table-view-cell" style="border:5px #0e68ca solid;border-top:none">
		            <a>
		                 学院<p style="text-align: center;background-color: #61E7F0;">物理与电子信息科学学院</p>
		            </a>
		        </li>
		        <li class="mui-table-view-cell" style="border:5px #0e68ca solid;border-top:none">
		            <a >
		                 专业<p style="text-align: center;background-color: #61E7F0;">电子信息科学与技术</p>
		            </a>
		        </li>
		        <li class="mui-table-view-cell" style="border:5px #0e68ca solid;border-top:none">
		            <a>
		                年级<p style="text-align: center;background-color: #61E7F0;">2014级</p>
		            </a>
		        </li>
		        <li class="mui-table-view-cell" style="border:5px #0e68ca solid;border-top:none">
		            <a >
		                 学号<p style="text-align: center;background-color: #61E7F0;">1315135641652</p>
		            </a>
		        </li>
		        <li class="mui-table-view-cell" style="border:5px #0e68ca solid;border-top:none">
		            <a >
		                 姓名<p style="text-align: center;background-color: #61E7F0;">王老五</p>
		            </a>
		        </li>
		    </ul>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>